<!DOCTYPE html>
<html>
    <head>
        <title>Hotel System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form method="post">
            Surname:<br>
            <input name="surname"><br>
            Lastname:<br>
            <input name="lastname"><br>
            Room number(1-50): <br>
            <input name="room_num" type="number"><br>
            Stay start date: <br>
            <input type="date" name="start_date"><br>
            Stay end date:<br>
            <input type="date" name="end_date"><br>
            <button type="submit">Register stay</button>
        </form>
    </body>
</html>

